openwisp-users @ https://github.com/openwisp/openwisp-users/tarball/master
netdiff @ https://github.com/openwisp/netdiff/tarball/master
jsonfield~=3.1.0
django-flat-json-widget @ https://github.com/openwisp/django-flat-json-widget/tarball/master
openwisp-utils[celery] @ https://github.com/openwisp/openwisp-utils/tarball/master
certifi>=2024.7.4 # not directly required, pinned by Snyk to avoid a vulnerability
idna>=3.7 # not directly required, pinned by Snyk to avoid a vulnerability
pyjwt>=2.4.0 # not directly required, pinned by Snyk to avoid a vulnerability
requests>=2.31.0 # not directly required, pinned by Snyk to avoid a vulnerability
